- var n = 1;
  while n <= 52
    div(class="hallazgos corona corona-"+n)
    - n++

- var n = 1;
  while n <= 52
    div(class="hallazgos erupcion erupcion-"+n)
    - n++

- var n = 1;
  while n <= 52
    div(class="hallazgos aparatoOrtoFijoBuenInicio aparatoOrtoFijoBuenInicio-"+n)
    - n++

-var n = 1;
  while n <= 52
    div(class="hallazgos aparatoOrtoFijoBuenFin aparatoOrtoFijoBuenFin-"+n)
    - n++

- var n = 1;
  while n <= 52
    div(class="hallazgos lineaBuen lineaBuen-"+n)
    - n++
