- var n = 1;
  while n <= 52
    div(class="hallazgos corona bueno corona-"+n)
    - n++

//- var n = 1;
  while n <= 52
    div(class="hallazgos erupcion erupcion-"+n)
    - n++

//- var n = 1;
  while n <= 52
    div(class="hallazgos aparatoOrtoFijoInicio bueno aparatoOrtoFijoInicio-"+n)
    - n++

//-var n = 1;
  while n <= 52
    div(class="hallazgos aparatoOrtoFijoFin bueno aparatoOrtoFijoFin-"+n)
    - n++

//- var n = 1;
  while n <= 52
    div(class="hallazgos linea malo linea-"+n)
    - n++

//- var n = 1;
  while n <= 52
    div(class="hallazgos bueno aparatoOrtoRemovible aparatoOrtoRemovible-"+n)
    - n++
