#odontograma{
  display: flex;
  align-items: start;
	justify-content: center;
	padding: 2%;
}
$anchoTotal:  100%;
$anchoDiente: ($anchoTotal / 16);
$altoDiente: 9.6%;
$altoDienteCentro: 9.7%;

#odontograma-contenido{
	position: relative;
	img{
		vertical-align: middle;
	}
	
	.cursor{
		position: absolute;
		width: $anchoDiente;
		z-index: 1000;
		&:hover{
			cursor: pointer;
			border-radius: 3px;
			box-shadow: inset 0 0 0 1px #111;
			
		}
	}

	&.unico .cursor:hover{
		border-radius: 3px;
		background-color: #26bc8a;
		&:before{
			content:'SEL';
			position: absolute;
			left: 25%;
			color: white;
			top: 35%;
		}
	}

	&.detalle .cursor:hover{
		border-radius: 3px;
		background-color: #ee600d;
		&:before{
			content:'DET';
			position: absolute;
			left: 25%;
			color: white;
			top: 35%;
		}
	}

	&.inicio .cursor:hover, &.fin .cursor:hover, .inicioSelec{
		background-color: #26bc8a;
		&:before{
			content:'INI';
			position: absolute;
			left: 25%;
			color: white;
			top: 35%;
		}
	}

	&.fin .cursor:hover:before{
		content:'FIN';
	}

	.recuadro{
		position: absolute;
		width: $anchoDiente;
		height: 2.5%;
		font-size: 8.5px;
		word-wrap: break-word;
		font-weight: 100;
		span{
			display: inline;
			letter-spacing: -0.5px;
			line-height: 0%;
			&.bueno{
				color:#0040FF;
			}
			&.malo{
				color:#FF0000;
			}
		}
	}
	
	.hallazgos{
		width: $anchoDiente;
		position: absolute;
		background-position-x: center;
		background-repeat: no-repeat;
	}
	
	.corona, .coronaTemporal{
		background-size: 90% auto;
		&.bueno{
			background-image: url('../images/corona_buen.png');
		}
		&.malo{
			background-image: url('../images/corona_mal.png');
		}
	}

	.erupcion{
		height: 4.8%;
		background-image: url('../images/erupcion.png');
	}

	.aparatoOrtoFijoInicio{
		height: 2.65%;
		background-size: 100% 100%;
		&.bueno{
			background-image: url('../images/AparatoOrtoFijoBueno.png');
		}
		&.malo{
			background-image: url('../images/AparatoOrtoFijoMalo.png');
		}
	}

	.aparatoOrtoFijoFin{
		height: 2.65%;
		background-size: 100% 100%;
		transform: rotate(180deg);
		&.bueno{
			background-image: url('../images/AparatoOrtoFijoBueno.png');
		}
		&.malo{
			background-image: url('../images/AparatoOrtoFijoMalo.png');
		}
	}

	.linea{
		height: 2.65%;
		background-size: 100% 100%;
		&.bueno{
			background-image: url('../images/lineaBuena.png');
		}
		&.malo{
			background-image: url('../images/lineaMala.png');
		}
	}

	.aparatoOrtoRemovible{
		height: 3.1%;
		background-size: 100%;
		&.bueno{
			background-image: url('../images/AparatoOrtoRemovibleBueno.png');
		}
		&.malo{
			background-image: url('../images/AparatoOrtoRemovibleMalo.png');
		}
	}

	.diastema{
		background-size: 100%;
		background-image: url('../images/diastema.png');
		width: 1%;
		height: 4%;
	}

	.piezaAusente{
		background-position-x: center;
		background-size: 50% 100%;
		background-image: url('../images/dienteAusente.png');
		height: 9%;
	}

	.piezaClavija{
		background-position-x: center;
		background-size: 92% 100%;
		background-image: url('../images/piezaClavija.png');
		height: 4.5%;
	}

	.piezaExtruida, .piezaIntruida{
		background-position-x: center;
		background-size: 30%;
		background-image: url('../images/piezaFlecha.png');
		height: 2.6%;
	}

	.piezaSupernumeraria{
		background-image: url('../images/supernumeraria.png');
		height: 3.2%;
	}

	.edentulo{
		background-image: url('../images/edentulo.png');
		height: 0.5%;
		background-repeat: repeat-x;
	}

	//CUADRANTE UNO
	@for $i from 1 through 16{
		.cursor-#{$i} {
			height: $altoDiente;
			top: 9.2%;
			left: (($i - 1) * $anchoDiente);
		}

		.recuadro-#{$i} {
			top: 0%;
			left: (($i - 1) * $anchoDiente);
		}
		.corona-#{$i}, .coronaTemporal-#{$i}{
			height: $altoDiente;
			left: (($i - 1) * $anchoDiente);
			top: 9.1%;
			background-position-y: bottom;
		}

		.erupcion-#{$i}{
			left: (($i - 1) * $anchoDiente);
			top: 9.8%;
			background-position-y: 35%;
		}

		.aparatoOrtoFijoInicio-#{$i},.aparatoOrtoFijoFin-#{$i}, .linea-#{$i}{
			left: (($i - 1) * $anchoDiente);
			top: 3.5%;
		}

		.aparatoOrtoRemovible-#{$i}{
			left: (($i - 1) * $anchoDiente);
			top: 3.6%;
		}

		.diastema-#{$i}{
			left: (($i - 1) * $anchoDiente)+5.8%;
			top: 15%;
		}

		.piezaAusente-#{$i}{
			left: (($i - 1) * $anchoDiente);
			top: 10%;
		}

		.piezaClavija-#{$i}{
			left: (($i - 1) * $anchoDiente);
			top: 5.5%;
		}

		.piezaExtruida-#{$i}{
			left: (($i - 1) * $anchoDiente);
			top: 18.5%;
			transform: rotate(180deg);
		}
		
		.piezaIntruida-#{$i}{
			left: (($i - 1) * $anchoDiente);
			top: 18.5%;
		}

		.piezaSupernumeraria-#{$i}{
			left: (($i - 1) * $anchoDiente)+3%;
			top: 7%;
		}

		.edentulo-#{$i}{
			left: (($i - 1) * $anchoDiente);
			top: 16.5%;
		}
	}

	//CUADRANTE DOS
	@for $i from 17 through 26{
		.cursor-#{$i} {
			height: $altoDienteCentro;
			top: 31.5%;
			left: ($i - 14) * $anchoDiente;
		}

		.recuadro-#{$i} {
			top: 23%;
			left: (($i - 14) * $anchoDiente);
		}

		.corona-#{$i}, .coronaTemporal-#{$i}{
			height: $altoDienteCentro;
			left: (($i - 14) * $anchoDiente);
			top: 33%;
			background-position-y: 62%;
		}

		.erupcion-#{$i}{
			left: (($i - 14) * $anchoDiente);
			top: 32%;
			background-position-y: 35%;
		}

		.aparatoOrtoFijoInicio-#{$i}, .aparatoOrtoFijoFin-#{$i}, .linea-#{$i}{
			left: (($i - 14) * $anchoDiente);
			top: 27%;
		}

		.aparatoOrtoRemovible-#{$i}{
			left: (($i - 14) * $anchoDiente);
			top: 27%;
		}

		.diastema-#{$i}{
			left: (($i - 14) * $anchoDiente)+5.8%;
			top: 36.5%;
		}

		.piezaAusente-#{$i}{
			left: (($i - 14) * $anchoDiente);
			top: 32%;
		}

		.piezaClavija-#{$i}{
			left: (($i - 14) * $anchoDiente);
			top: 43.7%;
		}

		.piezaExtruida-#{$i}{
			left: (($i - 14) * $anchoDiente);
			top: 40.4%;
			transform: rotate(180deg);
		}

		.piezaIntruida-#{$i}{
			left: (($i - 14) * $anchoDiente);
			top: 40.4%;
		}

		.piezaSupernumeraria-#{$i}{
			left: (($i - 14) * $anchoDiente)+3.2%;
			top: 44%;
		}

		.edentulo-#{$i}{
			left: (($i - 14) * $anchoDiente);
			top: 38.2%;
		}
	}
	
	//CUADRANTE TRES
	@for $i from 27 through 36{
		.cursor-#{$i} {
			height: $altoDienteCentro;
			top: 57.5%;
			left: ($i - 24) * $anchoDiente;
		}

		.recuadro-#{$i} {
			top: 72.5%;
			left: (($i - 24) * $anchoDiente);
		}

		.corona-#{$i}, .coronaTemporal-#{$i}{
			height: $altoDienteCentro;
			left: (($i - 24) * $anchoDiente)-0.1%; //CORRECCION
			top: 55.9%;
			background-position-y: 41%;
		}

		.erupcion-#{$i}{
			left: (($i - 24) * $anchoDiente);
			top: 62%;
			background-position-y: 35%;
			transform: rotate(180deg);
		}

		.aparatoOrtoFijoInicio-#{$i}, .aparatoOrtoFijoFin-#{$i}, .linea-#{$i}{
			left: (($i - 24) * $anchoDiente);
			top: 68.5%;
		}

		.aparatoOrtoRemovible-#{$i}{
			left: (($i - 24) * $anchoDiente);
			top: 68%;
			transform: rotate(180deg);
		}

		.diastema-#{$i}{
			left: (($i - 24) * $anchoDiente)+5.8%;
			top: 58%;
		}

		.piezaAusente-#{$i}{
			left: (($i - 24) * $anchoDiente);
			top: 58%;
		}

		.piezaClavija-#{$i}{
			left: (($i - 24) * $anchoDiente);
			top: 49.3%;
		}

		.piezaExtruida-#{$i}{
			left: (($i - 24) * $anchoDiente);
			top: 55.7%;
		}

		.piezaIntruida-#{$i}{
			left: (($i - 24) * $anchoDiente);
			top: 55.7%;
			transform: rotate(180deg);
		}

		.piezaSupernumeraria-#{$i}{
			left: (($i - 24) * $anchoDiente)+3.2%;
			top: 51%;
		}

		.edentulo-#{$i}{
			left: (($i - 24) * $anchoDiente);
			top: 60%;
		}
	}

	//CUADRANTE CUATRO
	@for $i from 37 through 52{
		.cursor-#{$i} {
			height: $altoDiente;
			top: 79.8%;
			left: ($i - 37) * $anchoDiente;
		}

		.recuadro-#{$i} {
			bottom: 0;
			left: (($i - 37) * $anchoDiente);
		}

		.corona-#{$i}, .coronaTemporal-#{$i}{
			height: $altoDienteCentro;
			left: (($i - 37) * $anchoDiente);
			top: 80.6%;
			background-position-y: top;
		}

		.erupcion-#{$i}{
			left: (($i - 37) * $anchoDiente);
			top: 84.5%;
			background-position-y: 35%;
			transform: rotate(180deg);
		}

		.aparatoOrtoFijoInicio-#{$i}, .aparatoOrtoFijoFin-#{$i}, .linea-#{$i}{
			left: (($i - 37) * $anchoDiente);
			top: 93.5%;
		}

		.aparatoOrtoRemovible-#{$i}{
			left: (($i - 37) * $anchoDiente);
			top: 93%;
			transform: rotate(180deg);
		}

		.diastema-#{$i}{
			left: (($i - 37) * $anchoDiente)+5.8%;
			top: 80.5%;
		}

		.piezaAusente-#{$i}{
			left: (($i - 37) * $anchoDiente);
			top: 80.5%;
		}

		.piezaClavija-#{$i}{
			left: (($i - 37) * $anchoDiente);
			top: 88.3%;
		}

		.piezaExtruida-#{$i}{
			left: (($i - 37) * $anchoDiente);
			top: 78%;
		}

		.piezaIntruida-#{$i}{
			left: (($i - 37) * $anchoDiente);
			top: 78%;
			transform: rotate(180deg);
		}

		.piezaSupernumeraria-#{$i}{
			left: (($i - 37) * $anchoDiente)+3.2%;
			top: 89.5%;
		}

		.edentulo-#{$i}{
			left: (($i - 37) * $anchoDiente);
			top: 82.5%;
		}

	}



}
